// [Tickets] app/styles/base/_typography.scss

body {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}
