// [Tickets] app/styles/components/_card.scss

@import '../themes/global';

.card {
    margin: 0;
    padding: 32px;
    background-color: white;
    box-shadow: 1px 2px 8px $dark-gray;
    border-radius: 3px;

    & + .card {
        margin-top: 32px;
    }

    &.no-padding {
        padding: 0;
    }

    .card-title {
        margin: 0 0 16px 0;
        padding: 0;
    }

    .card-description {
        margin: 0;
        padding: 0;
        font-weight: 700;
        color: $gray;
    }
}
