<div class="team-description">
	<div class="team-mascot-image" style="background-image:url('/public/images/teams/{{slug}}.png')"></div>
	<h2 class="team-name">{{name}}</h2>
	<p class="team-home">{{sponsor}}</p>
</div>